
.whatif{
    font-size: 30px;
    font-family: Poppins, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    padding-left:300px;
    color: aliceblue;
}
.img2{
    height: 400px;
    width: 550px;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: 50px;
    position: initial;
}
.img1{
    height:600px;
    width: 100%;
    position: initial;
    margin-left: 400px;
    padding-right: 400px;
}
.header1{
    mix-blend-mode:multiply;
    opacity: 1;
    transform: translateZ(0);
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 1000px;
    z-index: -1;
    left: 0;
    top: 0;
    padding-bottom: 100px;
    margin-bottom: 100px;

}
.list-group-item{
    background-color:#905F00;
}
.img3{
    height: 400px;
    width: 550px;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: 50px;
    position: initial;
}
.img4{
    height: 400px;
    width: 550px;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: 50px;
    position: initial;
}
.img5{
    height: 400px;
    width: 550px;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: 50px;
    position: initial;
}
.img6{
    height: 400px;
    width: 550px;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: 50px;
    position: initial;
}
.img7{
    height: 400px;
    width: 550px;
    border-radius: 20px;
    margin-left: 350px;
    margin-top: 50px;
    position: initial;
}
.header{
    background-color: #FFCF35;
}
